button{
	width: 200px;
	height: 50px;
}

p{
	color: #ffffff;
	background: #171717;
	padding: 30px 20px;
	
}

.open{
	display: block;
	background: crimson;
}

.close{
	display: none;
}